* {
    box-sizing: border-box;
}

html {
    background: #4aaaa5;
    height: 100%;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    min-height: 100%;
    background-image: url('../images/concrete-texture_bg.png');
}

h1, h2, h3, h4, h5, h6 {
    color: #4aaaa5;
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
}

#size-proper {
    width: 960px;
}

p {
    color: #777777;
}

.teal-background-color {
    background-color: #4aaaa5;
}

a:link, a:active, a:visited {
    color: #777777;
}

.main-header {
    background: #ffffff;
    border-bottom: #cccccc solid 2px;
}

.main-header h2 {
    color: #ffffff;
    padding: .75em;
    margin: 0;
    background: #4aaaa5;
    font-weight: bold;
}

.footer {
    background: #666666;
}

.footer p {
    color: #ffffff;
    margin-bottom: 0;
}

#main-content {
    background: #ffffff;
    border: #dddddd solid;
    width: 960px;
}

#main-content h2 {
    font-weight: bold;
}

#horizontal-line {
    border-width: 3px;
    margin-top: 30px;
}

button[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    border-radius: 0;
    padding-left: 2em;
    padding-right: 2em;
}

input[type=text], input[type=email], #textarea {
    border-radius: 0;
}

@media screen and (max-width: 575px) {
    #main-content {
        width: auto;
    }

    #size-proper {
        width: 100%;
    }
  }