* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    resize: none;
}

body {
    background-color: #000;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}

.container {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    padding: .3em;
    background-color: rgba(101, 155, 242, .2);
    overflow: visible;
}

#title-image {
    display: block;
    margin: 3em auto 0em auto;
}

#gameover-image, #youwin-image {
    display: block;
    margin: 1em auto;
}

#characterImage {
    padding: 2em;
    margin: 0em auto;
}

#currentWord {
    letter-spacing: .35em;
}

#pressKeyTryAgain, #gameover-image, #youwin-image {
    display: none;
}

.gameplay-column {
    padding-top: 1.25em;
    border: .2em solid #fff;
    text-align: center;
    margin-top: 3em;
    min-height: 42em;
    background-color: rgba(56, 52, 52, 0.8);
}